@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
/* font-family: 'Homemade Apple', cursive; */

.font-cursive
{
    font-family: 'Homemade Apple', cursive;
}


@media screen and (max-width: 768px) {
      .section_services_image, .blop, .counter, .main_joinus_area, .tag, .logo_footer, video {
        display: none;
      }
    }
@media screen and (min-width: 769px) {
.entete-image {
        display: none;
      }
    }

.section_services_image
{
    height: 350px;
    background-image: url(images/conseil.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    background-position: bottom;
}

.container-services
{
    margin-top: -200px;
}

.main_team_content
{background-color: none;}


.valeurs
{
    margin-bottom: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.valeurs_petit
{
    margin-bottom: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.team
{
    height: 200px;
    width: 200px;
    box-shadow: 10px 10px 12px 10px gray;
}

.single_team
{
    height: 350px;
    padding-top: 20px;
}

video
{
    width: 1600px;
    height: 900px;
}

.blop
{
    height: 160px;
}

.blop_div
{
    position: absolute;
    margin-left: 60%;
    margin-top: 45%;
    z-index: 999;
}

h1
{
    font-size: 25px;
    margin-top: -50px;
    width: 100%
}

h2
{
    font-size: 23px;
}

.p_entete
{
    text-align: left;
    margin-top: ;
}

.logo-entete
{
    margin-top: -200px;
}

.cardjoin
{
    width: 70%;
    margin:auto;
    padding: 20px;
    margin-top: 50px;
}

.logo
{
    margin-top: 10px;
}

h3
{
    font-size: 18px;
}

p
{
    font-size: 15px;
}

#footer, #services
{
    margin-top:200px;
}