@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
/* font-family: 'Homemade Apple', cursive; */

.font-cursive
{
    font-family: 'Homemade Apple', cursive;
}

.section_qui_image
{
    margin-top: 100px;
    height: 350px;
    background-image: url(images/nos-valeurs.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

.section_services_image
{
   
    height: 350px;
    background-image: url(images/business-innovation-money-icon-40218.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    background-position: bottom;
}

.container-services
{
    margin-top: -200px;
}

.main_team_content
{background-color: none;}

.section_joinus_image
{
    margin-top: 100px;
    height: 350px;
    background-image: url(images/contact.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

.section_lateam_image
{
    margin-top: 100px;
    height: 350px;
    background-image: url(images/team.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

.valeurs
{
    margin-bottom: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.team
{
    height: 200px;
    width: 200px;
    box-shadow: 10px 10px 12px 10px gray;
}

.single_team
{
    height: 350px;
    padding-top: 20px;
}

video
{
    width: 1600px;
    height: 900px;
}

.blop
{
    height: 160px;
}

.blop_div
{
    position: absolute;
    margin-left: 60%;
    margin-top: 7%;
    z-index: 1999;
}

h1
{
    font-size: 25px;
}

.cardjoin
{
    width: 50%;
    margin:auto;
    padding: 20px;
    margin-top: 50px;
}

.logo
{
    margin-top: 10px;
}

h3
{
    font-size: 18px;
}

p
{
    font-size: 15px;
}

#footer, #services
{
    margin-top:200px;
}